[package]
name = "oxide"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
crossterm = "0.29.0"
unicode-segmentation = "1.12.0"
unicode-width = "0.2.2"
